{% extends 'base.html.twig' %}
{% block title %} Page de recherche {% endblock %}
{% block body %}
            <form action="{{ path('item_search') }}" method="get">
                <div class="form-group">
                    <input name="q"
                        class="form-control search-field"
                        placeholder="Rechercher ... "
                        autocomplete="off"
                        value="{{ query }}"
                        autofocus
                    >
                </div>
            </form>
            <div class="col-md-3" id="results">
            </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}

